$cell-size: 100px;
$border-width: 1px;
$gap: 1px;
$padding: 10px;
$columns: 7;
$bg-color: #eee;
$hover-color: #ffbfcb;
$transition-speed: 0.5s;
$cells-part: $cell-size * $columns;
$gaps-part: $gap * ($columns - 1);
$paddings-part: $padding * 2;
$calendar-width: ($cells-part + $gaps-part + $paddings-part);

body {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  margin: 0;
}

.calendar {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;

  width: $calendar-width;

  padding: $padding;
  gap: $gap;

  &__day {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 $cell-size;

    height: $cell-size;

    border: $border-width solid black;
    background-color: $bg-color;

    font-family: Arial, sans-serif;
    font-size: 30px;

    transition:
      background-color $transition-speed,
      transform $transition-speed;

    &:hover {
      cursor: pointer;
      z-index: 10;
      transform: translateY(-20px);
      background-color: $hover-color;
    }

    @for $i from 1 through 31 {
      &:nth-child(#{$i})::before {
        content: '#{$i}';
      }
    }
  }

  $days: (
    mon: 0,
    tue: 1,
    wed: 2,
    thu: 3,
    fri: 4,
    sat: 5,
    sun: 6,
  );

  @each $name, $order in $days {
    &--start-day-#{$name} {
      .calendar__day:first-child {
        margin-left: ($cell-size + $gap) * $order;
      }
    }
  }

  @for $length from 28 through 31 {
    &--month-length-#{$length} {
      .calendar__day:nth-child(n + #{$length + 1}) {
        display: none;
      }
    }
  }
}
